<div class="dataview-container">

    <app-navbar></app-navbar>
    
    <div class="wrapper">
        <h1>Visualização dos Dados</h1>

        <div class="table-view">
            <p-table [value]="transacoes" size="large" tableStyleClass="table" showGridlines stripedRows [paginator]="true" [rows]="15">
                <ng-template pTemplate="header">
                  <tr>
                    <th *ngFor="let coluna of getColunas()">
                      {{ coluna }}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-transacao>
                  <tr>
                    <td *ngFor="let coluna of getColunas()">
                        <ng-container *ngIf="coluna === 'data'; else defaultCell">
                          {{ transacao[coluna] | date:'dd/MM/yyyy' }} <!-- Formata para dd/MM/yyyy -->
                        </ng-container>
                        <ng-template #defaultCell>
                          {{ transacao[coluna] }}
                        </ng-template>
                      </td>
                  </tr>
                </ng-template>
              </p-table>
        </div>
    </div>

   
    
</div>