<div class="login-container">


    <div class="app-informations-container">
        <h1>Bem vindo ao PubliDashboard</h1>

        <p>Acompanhe e gerencie suas campanhas de marketing de forma simples e eficiente. Tenha acesso a relatórios detalhados, métricas em tempo real e insights para otimizar seus investimentos em publicidade. </p>

        <span>
            Entre para ter acesso ao seu painel personalizado!
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>
        </span>
    </div>

    <div class="u-flex-end">
        <form class="form-container">
            <h1>
                Realizar o Login
            </h1>
    
            <input class="input-login" type="text" placeholder="Digite seu email">
    
            <input class="input-login" type="text" placeholder="Digite sua senha">
    
            <button class="button-login" [routerLink]="['/dashboard']">
                Entrar
            </button>
    
            <hr>
    
            <button class="button-login google">
                <img src="/assets/google.png" alt="">
                Entrar com o Google
            </button>
        </form>
    </div>

  
</div>