<div class="footer-container" [ngClass]="{'dashboard-footer': isDashboardRoute}">
    <div class="footer-company-information">
        <div class="footer-company-information-logo">
            <h2>PubliDashboard</h2>
        </div>


        <p>O PubliDashboard oferece uma gestão eficiente e acessível para suas campanhas de marketing. Monitore resultados, acompanhe métricas em tempo real e otimize seus investimentos em publicidade de qualquer lugar, a qualquer momento.</p>

        <span class="footer-company-paragraph">
            ©PubliDashBoard LTD 2025. All rights reserved
        </span>
    </div>

    <div class="footer-list">

        <div class="footer-list-page">
            <h4>Equipe</h4>

            <a href="#about">Lucas Luis de Souza</a>
            <a href="#our-services">Mateus da Silva</a>
            <a href="#our-services">Renan Alcantara</a>
            <a href="">Jadson Abreu</a>
            <a href="">Mateus Nepomuceno</a>
        </div>

        <div class="footer-list-region">
            <h4>Disciplina</h4>

            <a href="">Contabilidade de Custos e Gerencial</a>
        </div>

        <div class="footer-list-help">
            <h4>Professor</h4>

            <a href="">Marcelo Jota Gomes</a>
        </div>
    </div>
</div>