.dashboard-container {
    display: grid;
    grid-template-columns: 5% 1fr;
    padding: 2%;
    width: 100%;
    gap: 2rem;
    animation: all .2s;

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 0rem 2rem;
        background-color: white;
        border-radius: 3rem;
        width: 100%;
        height: 100%;
    }
    

    & .overview-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        /* From https://css.glass */


        & .overview-title-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1% 0;
            padding-top: 0%;

            & h3 {
                font-size: 4rem;
                color: rgb(38, 38, 38);
            }

            & .filter-container {
                display: flex;
                align-items: center;
                gap: 1rem;

                & span {
                    color: rgb(38, 38, 38);
                    font-size: 1.5rem;
                    font-weight: 600;
                }

                & .datepicker input {
                    font-size: 1.6rem !important;
                    font-weight: 500 !important;
                }
            }
        }

        & .featured-cards-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            justify-content: space-between;
            gap: 2rem;
            list-style: none;

            & .card {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                border-radius: 2rem;
                padding: 3rem;
                background-color: #6160601c;
                border: .1rem solid #CCC;

                h4 {
                    font-size: 2rem;
                    color: rgb(38, 38, 38);
                }

                p {
                    font-size: 2.4rem;
                    font-weight: 500;
                    &.positive-value {
                        padding: 1rem;
                        border-radius: 10rem;
                        background-color: #3ACA41;
                        width: fit-content;
                        color: white;
                    }

                    &.negative-value {
                        padding: 1rem;
                        border-radius: 10rem;
                        background-color: rgb(255, 82, 82);
                        width: fit-content;
                        color: white;
                    }
                }
            }
        }
    }

    & .chart-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-direction: column;
        gap: 2rem;
       
        width: 100%;

        .group-1 {
            display: grid;
            grid-template-rows: 1fr 1fr;
            gap: 2rem;
            height: 100%;
        }

        .group-2 {
            display: grid;
            grid-template-rows: 1fr 1fr;
            gap: 2rem;
            height: 100%;
            width: 100%;

            & .divide {
                display: grid;
                gap: 2rem;
                grid-template-columns: 1fr 1fr;
                height: 100%;
            }
        }
    
        .chart-box {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 100%;
            height: 100%;
            background-color: #6160601c;
            border: .1rem solid #CCC;
            border-radius: 2rem;
            padding: 4rem;
            position: relative;

            & h3 {
                color: rgb(38, 38, 38);
            }
        }

        & .chart-business {
            width: 100%;

            &.customer-expenses {
                width: 100%;
                height: 100%;
               
            }
        }
    }
}